.toggle-todo {
    padding: 6px 12px;
    font-size: 16px;
    border: none;
    background: white;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid white;

    &:hover {
        border: 1px solid grey;
    }

    &:active {
        color: white;
        background: grey;
    }
}

.empty {
    padding: 6px 12px;
    font-size: 16px;
}
